<div class="container">
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <h1>REGISTER</h1>
        <mat-form-field appearance="fill">
            <mat-label>Enter your firstName</mat-label>
            <input matInput placeholder="firstName" formControlName="firstName" required>

            <!-- <mat-error *ngIf="getFormControl('firstName')!.invalid">{{getEmailErrore()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter your lastName</mat-label>
            <input matInput placeholder="lastName" formControlName="lastName" required>
            <!-- <mat-error *ngIf="getFormControl('email')!.invalid">{{getEmailErrore()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="getFormControl('email')!.invalid">{{getEmailErrore()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="getFormControl('password')!.invalid">{{getPasswordErrore()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">REGISTER</button>
    </form>
</div>